.container {
  background-color: #ddd;
  color: #363b48;
  width: 560px;
  height: 280px;
  border-radius: 1em;
  margin: 20px;
  top: 0px;
  position: relative;
  border-radius: 4px;
  z-index: 0;
  overflow: hidden;
  border: 1px solid #ddd;
  position: relative;
  cursor: pointer;
  &:hover {
    transition: all 0.2s ease-out;
    top: -4px;
  }
  @media screen and (max-width: 480px) {
    height: 220px;
  }

  &:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: -16px;
    right: -16px;
    background: #363b48;
    height: 2.5em;
    width: 2.5em;
    border-radius: 32px;
    transform: scale(2);
    transform-origin: 50% 50%;
    transition: transform 0.15s ease-out;
  }

  &:hover:before {
    transform: scale(2.15);
  }
  h1 {
    margin: 1em auto;
    width: 90%;
    padding: 0.25em 0.5em;
    border-left: solid 5px #363b48;
  }

  .like_number {
    font-size: 2em;
    position: absolute;
    bottom: 0.6em;
    left: 3em;
  }

  .heart {
    margin-left: auto;
    cursor: pointer;
    margin-left: 2em;
    width: 50px; /* 正方形を作る */
    height: 50px; /* 正方形を作る */
    position: absolute;
    bottom: 1em;
    &::before,
    &::after {
      content: ""; /* 疑似要素に必須 */
      width: 50%; /* ハートの丸い部分の大きさにかかわる */
      height: 80%; /* ハートの高さにかかわる */
      background: #e0548e; /* ハートの色 */
      border-radius: 25px 25px 0 0; /* ハートの半円を生成 */
      display: block; /* ブロック要素にする */
      position: absolute; /* 相対位置に指定 */
    }
    &::before {
      transform: rotate(-45deg); /* 左に回転 */
      left: 14%; /* 左からの位置を指定 */
    }
    &::after {
      transform: rotate(45deg); /* 右に回転 */
      right: 14%; /* 右からの位置を指定 */
    }
  }
  p {
    position: absolute;
    width: 90%;
    text-align: right;
    bottom: 0;
  }
  .go_corner {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 2.5em;
    height: 2.5em;
    overflow: hidden;
    top: 0;
    right: 0;
    border-radius: 0 4px 0 2.5em;
  }
  .go_arrow {
    margin-top: -4px;
    margin-right: -4px;
    color: white;
    font-family: courier, sans;
  }
}
