.container {
  input[type="submit"] {
    margin: 1em 2em 1em auto;
  }
  .post {
    width: 60%;
    margin: 0 auto;
  }
  input[type="text"] {
    width: 100%;
    height: 2em;
    padding: 1em 0;
    font-size: 1.2em;
    background-color: #ddd;
    border: none;
    border-radius: 3px;
    &:focus {
      outline: none;
    }
  }
  > label {
    margin: 2em 0;
    display: block;
    text-align: left;
    max-width: 1000px;
  }
  .editor {
    background-color: #ddd;
    color: #363b48;
    padding: 1em;border-radius: 3px;
  }
  .error {
    color: red;
    font-size: 1.25em;
    margin-left: 1em;
  }
}
