html,
body {
  padding: 0;
  margin: 0;
  font-family: Bodoni 72, sans-serif;
  background-color: #363b48;
  color: #ddd;
  a {
    text-decoration: none;
    color: #ddd;
  }

  * {
    box-sizing: border-box;
  }
}
