.container {
  margin-top: 1em;
  border: 1px solid #363b48;
  background-color: #ddd;
  input[type="submit"] {
    margin: 1em 2em 1em auto;
  }
  .editor {
    color: #363b48;
    padding: 1em;
  }
}
